.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.inputContainer {
  display: 'flex';
  justify-content: center;
  align-content: 'center';
}
